body {
    background-color: #F5F7F9;
}
.hdr {
    color: black;
}
a {
    color: black;
}

/*Зеленая рамка*/
.wrapz { 
  width: 95%; /* Ширина */
  margin: auto;
}
.wrapz div {
  background: #e4f5e7;
  padding: 0px;
  border: 2px solid #59805f;
  border-radius: 10px;
}
.wrapz a { 
  color: #0d2110;
  font-size: 16px;
  font-family: 'Balsamiq Sans';
}
.wrapz p {
  font-size: 16px;
  text-align: left;
  margin: 25px;
  color: #2f5235;
  line-height: 0.5px;
}
.wrapz b {
  font-size: 18px;
  text-align: left;
  margin: 0px;
  color: #2f5235;
}

/*Красная рамка*/
.wrapk { 
  width: 95%; /* Ширина */
  margin: auto;
}
.wrapk div {
  background: #f5e4e4;
  padding: 0px;
  border: 2px solid #805959;
  border-radius: 10px;
}
.wrapk a { 
  color: #210d0d;
  font-size: 16px;
  font-family: 'Balsamiq Sans';
}
.wrapk p {
  font-size: 16px;
  text-align: left;
  margin: 25px;
  color: #522f2f;
  line-height: 0.5px;
}
.wrapk b {
  font-size: 18px;
  text-align: left;
  margin: 0px;
  color: #522f2f;
}
